@page "/{author}/Information"
@model Chirp.Razor.Pages.UserTimelineModel
@using System.Security.Principal
@using Microsoft.Identity.Web
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");

}

<div class="cheepbox">
    <h3>Following</h3>
    @if (Model.FollowingLinks.Any())
    {
        <ul>

            @foreach (string link in Model.FollowingLinks)
            {
                <a href="@link">
                    <li>@link.Split('/').Last()</li>
                </a>
            }
        </ul>
    }
    else
    {
        <p>You are not following anyone</p>
    }
    <form method="post">
        <button type="submit" asp-page-handler="Anonymize">Forget ME!</button>
    </form>
</div>