@page "/{author}/Information"
@model Chirp.Razor.Pages.UserTimelineModel
@using System.Security.Principal
@using Microsoft.Identity.Web
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");

}

<div class="cheepbox">
    <h3>Following</h3>
    <ul>
        @foreach (string link in Model.FollowingLinks)
        {
            <a href="@link">
                <li>@link.Split('/').Last()</li>
            </a>
        }
    </ul>
    <form method="post" asp-page-handler="Anonymize">
        <a type="submit" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Forget ME!</a>
    </form>
</div>