@page "/{author}/Information"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");

}

<div class="cheepbox">
    <h3>Following</h3>
    <ul>
        @foreach (string link in Model.FollowingLinks)
        {
            <a href="@link">
                <li>@link.Split('/').Last()</li>
            </a>
        }
    </ul>
    <form method="post">
        <button type="submit" asp-page-handler="Anonymize" asp-route-name="@User.Identity.Name">Forget ME!</button>
    </form>
</div>