@page "/NewCheep"
@model Chirp.Razor.Pages.NewCheepModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "Get Chirping!";
    Layout = "Shared/_Layout";
};

<div>
    <form action="/{User.Identity.Name}" method="post">
        <div class="form-group">
            <label for="newMessage">Whats happening?</label>
            <input class="form-control" for="newMessage">
            <span validation-for="newMessage"></span>
        </div>
        <button type="submit" class="btn btn-primary">Sumbit!</button>
    </form>
</div>
